[submodule "I"]
	path = I
	url = git@github.com:Suhoiyis/my-own-uestcs.git
	branch = 2.1：综设
[submodule "II"]
	path = II
	url = git@github.com:Suhoiyis/my-own-uestcs.git
	branch = 2.2：综设
[submodule "III"]
	path = III
	url = git@github.com:Suhoiyis/my-own-uestcs.git
	branch = 3.1：综设
[submodule "II.project_Design"]
	path = II.project_Design
	url = git@github.com:Suhoiyis/project_Design.git
[submodule "II.Codes"]
	path = II.Codes
	url = git@github.com:Suhoiyis/assembler_py.git
[submodule "III.Codes"]
	path = III.Codes
	url = git@github.com:Suhoiyis/2.assembler_py.git
